{% extends "base.html" %}

{% block extrahead %}
<title>Login - OTH App</title>
{% endblock %}

{% block content %}
<div class="section">
<div class="container">
<div class="row">
<div class="twelve columns">
<h3>Login</h3>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="Log in" />
  <input type="hidden" name="next" value="/" />
</form>

<div>Not a member? <a href="{% url 'registration_register' %}">Register</a></div>
{% endblock %}
</div>
</div>
</div>
</div>
