{% extends "base.html" %}

{% load staticfiles %}

{% block extrahead %}
<title>Home - OTH App</title>

{% endblock %}

{% block content %}
	<div class="container topmargin">
		<div class="row">
			<div class="nine columns">
				<h2>OTH App</h2>
				<span class="section-subheading">Because OTHs are serious business</span>
			</div>
			<div class="three columns u-pull-right">
				{% if logged_in %}
					Logged in as {{ username }}. <a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="/accounts/login">Login</a>
				{% endif %}
			</div>
		</div>
		<hr>
		<div class="row topmargin">
			<div class="twelve columns">
				<h4>Currently active OTHs</h4>
				{% if active_oths %}
					{% for oth in active_oths %}
					<h5><a href="/view_oth/{{ oth.0 }}">{{ oth.1 }}</a></h5>
					{% endfor %}
				{% else %}
				<p>Currently there are no active OTHs. Please check back later.</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}