{% extends "base.html" %}

{% block extrahead %}
<title>Leaderboard - OTH App</title>

{% endblock %}

{% block content %}

	<div class="container topmargin">
		<div class="row">
			<div class="nine columns">
				<h2>OTH App</h2>
				<span class="section-subheading">Because OTHs are serious business</span>
			</div>
			<div class="three columns u-pull-right">
				{% if logged_in %}
					Logged in as {{ username }}. <a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="/accounts/login">Login</a>
				{% endif %}
			</div>
		</div>
		<hr>
		<div class="row topmargin">
			<div class="twelve columns">
				<h4>{{ oth_title }}</h4>

				{% if entries %}
				<table>
					<thead>
						<td>Rank</td>
						<td>User</td>
						<td>Level</td>
						<td>Time</td>
					</thead>
					{% for entry in entries %}
					<tr>
						<td>entry.0</td>
						<td>entry.1.0</td>
						<td>entry.1.1</td>
						<td>entry.1.2</td>
					</tr>
					{% endfor %}

				</table>

				{% else %}
				<p>{{ message }}</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
